body {
    background-color: #3e0000;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

.navbar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030; 
}
.navbar-nav .nav-link {
    font-weight: bold;
    color: white;
}
.navbar-brand {
    font-weight: bold;
    color: white;
}


.hero {
    height: 300px;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

h1{
    margin-top: 10px;
}

h2 {
    border-bottom: 2px solid #cc0c0c;
    padding-bottom: 5px;
}

.card {
    background-color: #222;
    border: 1px solid #444;
    color: white;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.carousel iframe {
    border-radius: 10px;
}

.footer {
    background-color: #121212;
}

.img-bio {
    max-width: 45%;
    height: auto;
}



.btn-instagram {
    display: inline-block;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn-instagram:hover {
    background: linear-gradient(45deg, #bc1888, #cc2366, #dc2743, #e6683c, #f09433);
    text-decoration: none;
    transform: scale(1.1);
}
